.root-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #a5a5a5;
  overflow: hidden;
}
.character-container {
  width: 45%;
  max-width: 300px;

  position: fixed;
  bottom: 0;
  right: 10%;
  z-index: 2;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* 暫時 */
.character-container_img {
  object-fit: contain;
  width: 100%;
}

.dialog-container {
  /*position: absolute;*/
  top: 30%;
  left: 100%;
  z-index: 2;
}
.dialog-box {
  background-color: rgb(182, 255, 255);
  border: solid 2px rgb(67, 124, 167);
  border-radius: 0px 15px 15px 15px;
  padding: 10px;
  min-width: 150px;
  min-height: 50px;
}
.button-group-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
  padding: 15px;

  display: flex;
  flex-direction: column;
  z-index: 2;
}

.button {
  height: 50px;
  width: 150px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  outline: solid 1px rgb(216, 157, 30);
  font-size: 12pt;

  background-color: rgb(255, 210, 126);
}

.button:hover {
  background-color: rgb(158, 137, 98);
}
.button-selected {
  font-size: 12pt;
  height: 50px;
  width: 150px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(238, 177, 65);
}

.opts-container {
  position: fixed;
  bottom: 0;

  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.opts-container button {
  cursor: pointer;
  border-radius: 15px;
  border: solid 1px rgb(77, 77, 77);
  height: 25px;
  margin: 5px;
  background-color: rgb(158, 245, 255);
}

/* 地圖 圖片 */
.map-pic{
  width: 100%;
  max-width: 500px;
  max-height: 150px;
  position: absolute;
  /*bottom: calc(150px + 150px);*/
  bottom: 130px;  
  object-fit: cover;
  overflow: hidden;
  opacity: 0.85;
}

/* 不在路線上提示 */
.top-dialog-box-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  border-radius: 15px;
  min-height: 150px;
  min-width: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
  color: #777;
  font-size: large;
  font-weight: 900;
}

/* 羅盤Icon */
.canpasIcon-container {
  position: fixed;
  right: 25px;
  top: 15px;
}
.canpasIcon-container img {
  height: 70px;
}

.new-options-root {
  display: flex;
  flex-direction: column;
  position: fixed;
  /*
  left: 10%;
  bottom: 5%;
  */
  bottom: 0;

  width: 100vw;
  height: 120px;

  background-color: #5cb6f2;
}
.new-options-container {
  position: absolute;
  left: 5%;
  bottom: 5%;
}
.new-options-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: #f4ffe9;
  font-weight: 900;
  font-size: 13pt;
}
.new-options-title img {
  color: #dcff98;
  height: 30px;
}

.new-option {
  width: 150px;
  height: 25px;
  background-color: #f4ffe9;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #badbc5;
  margin: 5px 0;
}
.new-option img {
  object-fit: contain;
  height: 100%;
}
.new-option span {
  margin: auto;
  color: #5589ad;
  font-weight: 900;
  font-size: 11pt;
}
.new-option-container {
  display: flex;
  flex-direction: column;
}

.fbx-container {
  width: 500px;
  height: 350px;
  max-height: 20%;
  z-index: 99;
}

@media screen and (min-width: 1100px) {
  .map-pic{
    right: 150px;
    
  }
}