.infoBox-root {
  width: 100%;
  max-width: 500px;
  height: 80vh;

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoBox-bg {
  max-width: 500px;
  height: 100% !important;
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -50%);
}

.infoBox-bg-inner {
  height: 82%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
}

.infoBox-container {
  width: 80%;
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoBox-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  border: solid 5px #FFFFFF;
  border-radius: 15px;
  padding: 10px;
}

.infoBox-imgContainer {
  margin: 0 auto;
}

.infoBox-titleImage {
  object-fit: fill;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-height: 150px;

  border-radius: 15px;
}
.infoBox-titleBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoBox-titleBox img{
  color: blue;
  height: 30px;
}
.infoBox-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  color: rgb(67, 67, 67);
}

.infoBox-sm {
  font-weight: bolder;
}

.infoBox-hr {
  height: 2px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.583);

  margin-bottom: 15px;
}

.infoBox-text {
  display: flex;
  flex-grow: 1;
  font-weight: bolder;
  font-size: 10pt;
  flex-grow: 1;
  color: rgb(65, 65, 65);
}

/*
.infoBox-btn {
  position: absolute;
  bottom: 10%;
  right: 0;
}*/
.infoBox-optsContainer {
  max-height: 50px;  
  display: flex;
  justify-content: flex-end;
}

.infoBox-btn img {
  cursor: pointer;
  height: 100%;
  object-fit: contain;
}

.hr-line{
  text-align:center;
  border-bottom:4px dashed #E8AC92;
  margin: 10px 0;
}

.infoBox-tail{
  position: absolute;
  height: 25px;
  right: 25%;
}

@media screen and (min-width: 1100px) {
  .infoBox-root {
    left: unset;
    right: 0;
  }
}